<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
